<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murat.benimbebegim" >

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".RemindMe"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/baby_boy_icon"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityAlarm"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddAlarmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".AlarmSetter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />

        <service android:name=".AlarmService" />

        <activity
            android:name=".ActivityOpening"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignUp"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityCreateBaby" />
        <activity
            android:name=".ActivityEditBaby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityHomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!--
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ActivityMood"
            android:label="@string/title_activity_activity_mood" >
        </activity>
        <activity
            android:name=".ActivitySolid"
            android:label="@string/title_activity_activity_solid" >
        </activity>
        <activity
            android:name=".ActivityBottle"
            android:label="@string/title_activity_activity_bottle" >
        </activity>
        <activity
            android:name=".ActivityBreast"
            android:label="@string/title_activity_activity_breast" >
        </activity>
        <activity
            android:name=".ActivitySleep"
            android:label="@string/title_activity_activity_sleep" >
        </activity>
        <activity
            android:name=".ActivityDiaper"
            android:label="@string/title_activity_activity_diaper" >
        </activity>
        <activity
            android:name=".ActivityPumping"
            android:label="@string/title_activity_activity_pumping" >
        </activity>
        <activity
            android:name=".ActivityHealth"
            android:label="@string/title_activity_activity_health" >
        </activity>
        <activity
            android:name=".ActivityMedicine"
            android:label="@string/title_activity_activity_medicine" >
        </activity>
        <activity
            android:name=".ActivityVaccination"
            android:label="@string/title_activity_activity_vaccination" >
        </activity>
        <activity
            android:name=".ActivityHygiene"
            android:label="@string/title_activity_activity_hygiene" >
        </activity>
        <activity
            android:name=".ActivityTeeth"
            android:label="@string/title_activity_activity_teeth" >
        </activity>
        <activity
            android:name=".ActivityOther"
            android:label="@string/title_activity_activity_other" >
        </activity>
        <activity
            android:name=".ActivityCaptureVideo"
            android:label="@string/title_activity_capture_video" >
        </activity>
        <activity
            android:name=".model.MyCalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".CameraPhotoCapture"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/diary_activity" >
        </activity>
        <activity
            android:name=".model.AddDiary"
            android:label="Add Diary" >
        </activity>
        <activity
            android:name=".model.EditDiary"
            android:label="Edit Diary" >
        </activity>
    </application>

</manifest>
